In [7]:
%reload_kedro

2021-09-06 10:29:39,308 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-09-06 10:29:39,314 - kedro.framework.session.session - WARNING - Unable to git describe /home/khuyen/kedro_example/iris
2021-09-06 10:29:39,323 - root - INFO - ** Kedro project iris
2021-09-06 10:29:39,323 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-09-06 10:29:39,328 - root - INFO - Registered line magic `run_viz`

fatal: not a git repository (or any of the parent directories): .git

In [8]:
encoded_data = catalog.load('encoded_data')
encoded_data

2021-09-06 10:29:39,872 - kedro.io.data_catalog - INFO - Loading data from `encoded_data` (CSVDataSet)...

,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [9]:
X_train = catalog.load('train_x')
X_train

2021-09-06 10:29:40,362 - kedro.io.data_catalog - INFO - Loading data from `train_x` (CSVDataSet)...

     sepal_length  sepal_width  petal_length  petal_width
0             6.4          2.8           5.6          2.2
1             6.9          3.1           4.9          1.5
2             7.7          3.0           6.1          2.3
3             5.1          3.3           1.7          0.5
4             5.1          3.5           1.4          0.3
..            ...          ...           ...          ...
115           4.6          3.1           1.5          0.2
116           6.0          2.2           4.0          1.0
117           5.8          4.0           1.2          0.2
118           4.9          2.4           3.3          1.0
119           5.8          2.8           5.1          2.4

[120 rows x 4 columns]

In [11]:
X_test = catalog.load('test_x')
X_test

2021-09-06 10:29:59,762 - kedro.io.data_catalog - INFO - Loading data from `test_x` (CSVDataSet)...

    sepal_length  sepal_width  petal_length  petal_width
0            6.1          2.9           4.7          1.4
1            6.7          3.1           4.4          1.4
2            6.3          2.8           5.1          1.5
3            4.6          3.6           1.0          0.2
4            6.3          2.5           4.9          1.5
5            5.1          3.7           1.5          0.4
6            7.7          2.6           6.9          2.3
7            5.8          2.7           4.1          1.0
8            4.8          3.0           1.4          0.1
9            6.4          2.9           4.3          1.3
10           6.4          3.1           5.5          1.8
11           4.4          3.2           1.3          0.2
12           5.2          3.4           1.4          0.2
13           6.6          2.9           4.6          1.3
14           5.6          2.7           4.2          1.3
15           4.6          3.2           1.4          0.2
16           5.0          2.0           3.5          1.0
17           5.1          3.5           1.4          0.2
18           5.4          3.4           1.5          0.4
19           6.1          3.0           4.6          1.4
20           5.9          3.0           5.1          1.8
21           4.9          3.1           1.5          0.1
22           6.7          3.3           5.7          2.1
23           5.5          4.2           1.4          0.2
24           6.0          2.7           5.1          1.6
25           6.1          2.6           5.6          1.4
26           5.0          3.4           1.6          0.4
27           6.7          3.1           5.6          2.4
28           5.2          3.5           1.5          0.2
29           6.4          2.7           5.3          1.9

In [10]:
y_train = catalog.load('train_y')
y_train

2021-09-06 10:29:41,185 - kedro.io.data_catalog - INFO - Loading data from `train_y` (CSVDataSet)...

     setosa  versicolor  virginica
0         0           0          1
1         0           1          0
2         0           0          1
3         1           0          0
4         1           0          0
..      ...         ...        ...
115       1           0          0
116       0           1          0
117       1           0          0
118       0           1          0
119       0           0          1

[120 rows x 3 columns]

In [12]:
y_test = catalog.load('test_y')
y_test

2021-09-06 10:30:17,314 - kedro.io.data_catalog - INFO - Loading data from `test_y` (CSVDataSet)...

    setosa  versicolor  virginica
0        0           1          0
1        0           1          0
2        0           0          1
3        1           0          0
4        0           1          0
5        1           0          0
6        0           0          1
7        0           1          0
8        1           0          0
9        0           1          0
10       0           0          1
11       1           0          0
12       1           0          0
13       0           1          0
14       0           1          0
15       1           0          0
16       0           1          0
17       1           0          0
18       1           0          0
19       0           1          0
20       0           0          1
21       1           0          0
22       0           0          1
23       1           0          0
24       0           1          0
25       0           0          1
26       1           0          0
27       0           0          1
28       1           0          0
29       0           0          1

In [1]:
params = context.params

In [2]:
params

{'test_data_ratio': 0.2,
 'num_train_iter': 10000,
 'learning_rate': 0.01,
 'target_col': 'species'}